<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Health Macro Calculator - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./static/css/style.css" />
  <script src="{{ url_for('static', filename='js/darkmode.js') }}" defer></script>
</head>

<body>

  <!-- Header + Nav -->
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
        {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
        <li><a href="{{ url_for('calculator') }}">Macro Calc</a></li>
        <li><a href="{{ url_for('results') }}">Results</a></li>
        <li><a href="{{ url_for('feed') }}">Community Feed</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
      </ul>      
    </nav>    
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
  {% block scripts %}{% endblock %}
</body>

</html>
