{% extends "base.html" %}
{% block title %}My Friends{% endblock %}

{% block content %}
<div class="add-friends-container">
    <h2>My Friends List</h2>

    {% if friends %}
        <ul class="search-results">
            {% for friend in friends %}
                <li>
                    <div class="result-item">
                        <span><a href="{{ url_for('view_user_profile', user_id=friend.id) }}" class="username-link"><strong>{{ friend.name }}</strong></a></span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="color: #ccc; text-align: center;">You have no friends yet.</p>
    {% endif %}
</div>
{% endblock %}
