{% extends "base.html" %} 
{% block title %}Login{% endblock %}
{% block content %}

<div class="signup-container">
  <h1>Login</h1>
  <form method="POST" name="login">
    {{ form.hidden_tag() }}

    <label for="email">Email:</label>
    {{ form.email(id="email") }}

    <label for="password">Password:</label>
    {{ form.password(id="password") }}

    {{ form.submit(id="loginForm") }}
  </form>

  {% if error %}
    <p class="error-message" style="color: red;">{{ error }}</p>
  {% endif %}
</div>

<p class="signup-link">
  Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>
</p>

{% endblock %}
