{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<div class="profile-container">
    <header class="profile-header">
        <h1>Profile Page</h1>
    </header>
    <section class="profile-info">
        <img src="{{ url_for('static', filename='images/placeholder-profile.jpg') }}" alt="Profile Picture" class="profile-picture">
        <h2 id="username">Username: {{ user.username if user else '[Placeholder]' }}</h2>
        <p id="email">Email: {{ user.email if user else '[Placeholder]' }}</p>
    </section>
    <section class="macro-history">
        <h3>Macro History</h3>
        {% if macro_posts %}
            <ul>
                {% for post in macro_posts %}
                    <li>
                        <strong>Date:</strong> {{ post.timestamp.strftime('%Y-%m-%d %H:%M') }}<br>
                        <strong>Weight:</strong> {{ post.weight }} kg<br>
                        <strong>BMR:</strong> {{ post.bmr }} cal/day,
                        <strong>TDEE:</strong> {{ post.tdee }} cal/day
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't saved any results yet.</p>
        {% endif %}
    </section>
</div>

<div class="theme-toggle">
    <label class="theme-label" for="theme-switch">Toggle Theme</label>
    <label class="switch">
    <input type="checkbox" id="theme-switch" onchange="toggleTheme()" />
    <span class="slider"></span>
    </label>
</div>
{% endblock %}
